// COLORS
:root {
  --body-bg: #f2f2f2;
  --element-bg: #fff;
  --text-color: #111517;
}
$bg-dark: #202C36;
$light-black: #2B3844;
$element-bg: #fff;

// FONTS
$font-stack: "Nunito Sans 10pt", "Arial", sans-serif;